* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: calc(9px + 0.4vw);
  background-color: rgb(210, 208, 208);
}

main {
  display: grid;
  place-content: center;
  width: 100%;
  height: 95vh;
}

.main-wrapper {
  margin: 1rem auto;
  padding: 2rem 2rem 2.75rem 2rem;
  border: none;
  border-radius: 2rem;
  width: min(85vmin, 500px);
  height: 7rem;
  background-color: #4f32ff;
  color: whitesmoke;

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: all 1s linear;
}

.hidden {
  display: none;
}

.prev,
.next {
  position: absolute;
  top: calc(50%-5rem);
  font-size: 5rem;
  cursor: pointer;
  color: rgb(239, 238, 238);
  padding: 0.5rem 1.25rem;
}

.prev:hover,
.next:hover {
  background-color: rgba(75, 75, 181, 0.5);
}

.prev {
  left: 0;
  border-radius: 0 1rem 1rem 0;
}

.next {
  right: 0;
  border-radius: 1rem 0rem 0rem 1rem;
}

section#search {
  display: flex;
  align-items: center;
}

section#search #weather-searching-form {
  display: flex;
  align-items: center;
  flex: 1;
}

section#search img {
  width: 100%;
  flex: 0 1 2.5rem;
}

section#search #weather-searchbar {
  background-color: transparent;
  color: whitesmoke;
  font-size: calc(0.75rem + 0.75vw);
  font-weight: bolder;
  padding: 0.5rem 0.75rem 0.25rem 0.75rem;
  margin-right: 0.5rem;
  border: none;
  outline: none;
  border-radius: 0.75rem;
  flex: 1;
  text-transform: uppercase;
}

section#search #weather-searchbar::placeholder {
  color: rgba(180, 180, 229, 0.8);
}

section#search #weather-searchbar:focus {
  background-color: whitesmoke;
  color: rgba(75, 75, 181, 0.8);
}

section#search #weather-search-button {
  background-color: rgba(75, 75, 181, 0.8);
  border: none;
  border-radius: 50%;
  padding: 0.5rem 0.5rem 0.4rem 0.5rem;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: background-color 0.25s;
}

section#search #weather-search-button:hover {
  background-color: rgba(75, 75, 181, 0.3);
}

section#search #weather-search-button img {
  width: 2.1rem;
}

#weather-date {
  position: absolute;
  top: -7.5%;
  text-align: center;
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold;
}

#weather-data {
  width: 100%;
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s linear;
}

#weather-data.hidden {
  opacity: 0;
  transform: translateY(-10rem);
}

#weather-details {
  width: 100%;
  position: relative;
}

#weather-icon {
  margin-top: 1rem;
  width: 65%;
  height: 40vh;
  animation: bouncing 5s infinite linear;
}

#weather-temperature {
  width: auto;
  margin-top: 1rem;
  font-size: 4.5rem;
  font-weight: bold;
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  justify-self: center;
}

#weather-temperature:hover,
#weather-temperature:focus {
  opacity: 0.8;
}

#weather-temperature:active {
  transform: translateY(0.75rem);
}

#weather-temperature span {
  font-size: 1.5rem;
  position: absolute;
}

#weather-description {
  font-size: 1.5rem;
  text-align: center;
}

#weather-description + div {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 3rem;
}

#weather-humidity,
#weather-wind-speed {
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  place-items: center;
  font-size: 1.4rem;
  column-gap: 0.5rem;
  font-weight: 500;
}

#weather-humidity img,
#weather-wind-speed img {
  width: 100%;
}

#weather-humidity p:nth-child(2),
#weather-wind-speed p:nth-child(2) {
  font-size: 1rem;
  font-weight: normal;
  margin-top: 0.1rem;
}

#loading,
.loading-content {
  width: 15vw;
  height: 15vw;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
  top: 25%;
  border: none;
}

#loading img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.error-message {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: rgb(246, 255, 0);
}

@keyframes bouncing {
  0% {
    transform: translateY(0.25rem);
    opacity: 1;
  }
  50% {
    transform: translateY(-0.75rem);
    opacity: 0.9;
  }
  100% {
    transform: translateY(0.25rem);
    opacity: 1;
  }
}

@keyframes slide {
  from {
    transform: translateY(-50rem);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
